[
  {
    "tag": "温泉・サウナ",
    "lat": 33.19637958676012,
    "lng": 130.01429662412755,
    "name": "武雄温泉元湯",
    "description": "現在使用されている温泉施設の建物としては、日本最古のもの（明治9年に建築）。高い天井と広い浴槽で、ゆったりとしたその雰囲気の中にレトロな浪漫が漂う温泉情緒豊かなお風呂です。",
    "score": {
      "nature": 0,
      "culture": 80,
      "activity": 100,
      "gourmet": 0,
      "rich": 10,
      "shopping": 0
    },
    "stay" : 90,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄7425",
    "tel":"0954-23-2001",
    "attention":""
  },
  {
    "tag": "体験",
    "lat": 33.17849921842985,
    "lng": 130.03481459370752,
    "name": "佐賀県立宇宙科学館ゆめぎんが",
    "description": "宇宙発見ゾーン、佐賀発見ゾーン、地球発見ゾーンの3つのゾーンとプラネタリウム、天文台があり、参加体験型の展示物を通して、科学を楽しく学ぶことができる施設です。プラネタリウムでは、本物に近いリアルな星空を再現。天文台では、大型望遠鏡で月や惑星、太陽を観察できます。令和6年3月には、宇宙発見ゾーンが全面リニューアルしました。",
    "score": {
      "nature": 80,
      "culture": 40,
      "activity": 100,
      "gourmet": 0,
      "rich": 40,
      "shopping": 30
    },
    "stay" : 180,
    "img": "temp.jpg",
    "address":" 佐賀県武雄市武雄町永島16351",
    "tel":"0954-20-1666",
    "attention":""
  },
  {
    "tag": "アート・グルメ",
    "lat": 33.18906202335859,
    "lng": 130.02368492989186,
    "name": "武雄市図書館・歴史資料館",
    "description": "2階まで続く圧巻のスペースに約25万冊の読書と広々とした空間は読書はもちろん、ゆっくりと過ごすのに最適です。館内にはカフェもあります。また、隣接された「武雄市こども図書館」には、靴をぬいでゆっくり本を楽しむスペースや隠れ家のようなひみつの部屋があります。外には、芝生の広場もあり、子どもが物語の主人公になれる楽しい施設となっています。毎日、おはなし会が開催されておりますので、ご家族でのお出かけにぴったり。2階の「九州パンケーキカフェ 武雄市こども図書館店」では、九州の素材で作ったパンケーキがいただけます。",
    "score": {
      "nature": 100,
      "culture": 100,
      "activity": 110,
      "gourmet": 50,
      "rich": 20,
      "shopping":60 
    },
    "stay" : 120,
    "img": "temp.jpg",
    "address":"佐賀県武雄市武雄町大字武雄5304番地1",
    "tel":"0954-20-0222",
    "attention":""
  },
  {
    "tag":"サウナ・アート",
    "name": "御船山楽園",
    "lat": 33.181451856090014,
    "lng": 130.01572784003469,
    "description": "御船山山麓にある武雄領主鍋島茂義の別邸跡（造園は1845年）で、15万坪もの広さを持つ大庭園は、平成22年2月に国登録記念物に登録されました。3月下旬になると2,000本の桜(染井吉野・八重桜など)が御船山の切り立った断崖の緑を鮮やかな色彩に引き立てます。4月中旬から5月上旬にかけては、20万本のツツジ（久留米つつじ・霧島つつじ）や藤（白房・紫房）や石楠花が、紅・朱・白・桃と華やかな色彩の世界を創り出します。特にツツジの開花時期には広い園内が一面、ツツジの絨毯を敷き詰めたようになり、絶景が楽しめます。夏は自然とアートが一体となった、幻想的なあかりの世界を体感できます。",
    "score": {
      "nature": 100,
      "culture": 90,
      "activity": 90,
      "gourmet": 10,
      "rich": 70,
      "shopping": 10
    },
    "stay" : 100,
    "img": "temp.jpg",
    "address":"佐賀県武雄市武雄町大字武雄4100",
    "tel":"0954-23-3131",
    "attention":""
  },
  {
    "tag":"歴史・文化",
    "name": "廣福寺",
    "lat": 33.19691114323555, 
    "lng": 130.01492645313067,
    "description": "本堂は風格があり、長い歴史を感じさせます。武雄温泉の楼門の近く、山の斜面に位置しており、自然豊かな中にあります。 大正4年（1915年）に国宝に指定されましたが、文化財保護制定時に重要文化財として再指定されました。",
    "score": {
      "nature": 100,
      "culture": 90,
      "activity": 50,
      "gourmet": 0,
      "rich": 10,
      "shopping": 10
    },
    "stay" : 30,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字富岡7438",
    "tel":"0954-22-2649",
    "attention":""
  },
  {
    "tag":"歴史・文化",
    "name": "矢ノ浦古墳",
    "lat": 33.18925338346911,  
    "lng": 130.02703738262096,
    "description": "武雄地方で最初に確認された前方後円墳で、白岩運動公園トリムコース内、白岩山の東尾根上に築かれています。本古墳の築造年代は、5世紀初頭から前半にかけてのものと考えられています。埋葬施設の一つから、国重要文化財の「矢ノ浦古墳出土変形獣帯鏡」が鏡面を上にした状態で見つかっています。",
    "score": {
      "nature": 100,
      "culture": 90,
      "activity": 10,
      "gourmet": 0,
      "rich": 0,
      "shopping": 0
    },
    "stay" : 20,
    "img": "temp.jpg",
    "address":"佐賀県武雄市武雄町大字武雄15124",
    "tel":"",
    "attention":""
  },
  {
    "tag":"歴史・文化",
    "name": "武雄神社・武雄の大楠",
    "lat": 33.18864605019938,   
    "lng": 130.02131199236123,
    "description": "武雄の大楠は、全国巨木ランキング第7位 樹齢3,000年以上といわれている武雄神社の御神木。武雄神社本殿から竹林に囲まれた小道を奥に進むと、樹齢3000年の大楠に出会えます。悠々と地に根を張った姿は、思わず息をのんでしまうほどの存在感があり、見る人にパワーを与えてくれます。樹根には天神様が祭られています。",
    "score": {
      "nature": 150,
      "culture": 150,
      "activity": 100,
      "gourmet": 0,
      "rich": 5,
      "shopping": 15
    },
    "stay" : 40,
    "img": "temp.jpg",
    "address":"佐賀県武雄市武雄町大字武雄5327",
    "tel":"0954-22-2976",
    "attention":""
  },
  {
    "tag":"グルメ",
    "name": "豆善 武雄店",
    "lat": 33.19013541941532,    
    "lng": 130.0240527316884,
    "description": "素材にこだわる手作りの豆菓子がたくさん。甘い豆、おつまみ豆、店頭手作りのできたて芋ケンピはサクサクで美味しいです！",
    "score": {
      "nature": 0,
      "culture": 40,
      "activity": 50,
      "gourmet": 100,
      "rich": 50,
      "shopping": 100
    },
    "stay" : 10,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄5433",
    "tel":"0954-33-0961",
    "attention":""
  },
  {
    "tag":"グルメ",
    "name": "たけおしふぉん Pas a' Pas",
    "lat": 33.197784404637936,     
    "lng": 130.02462949056684,
    "description": "シフォンケーキ専門店。厳選素材を使用し、卵の力だけで、しっとりふわっふわ、とろける食感のシフォンケーキを一台一台丁寧に手間をかけて作っています。店内には十数種類のシフォンケーキの他にもオーナーこだわりのシフォンロールやシフォンサンド、焼き菓子などが所狭しと並びます。",
    "score": {
      "nature": 0,
      "culture": 20,
      "activity": 50,
      "gourmet": 120,
      "rich": 50,
      "shopping": 100
    },
    "stay" : 10,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄7425",
    "tel":"0954-23-2001",
    "attention":""
  },
  {
    "tag":"グルメ",
    "name": "松風堂本舗",
    "lat": 33.19318494157491,      
    "lng": 130.02202376380586,
    "description": "カステラをベースとした焼き菓子「松風」は、カステラ生地を更に焼き上げてカリカリのクッキーにしたものです。適度に甘く、卵の風味も感じられて、ちょっとしたスナックに適しています。",
    "score": {
      "nature": 0,
      "culture": 20,
      "activity": 50,
      "gourmet": 100,
      "rich": 60,
      "shopping": 100
    },
    "stay" : 10,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄7425",
    "tel":"0954-23-2001",
    "attention":""
  },
  {
    "tag":"グルメ",
    "name": "山里屋菓子老舗",
    "lat": 33.19483030797853,       
    "lng": 130.0160405941277,
    "description": "創業1839年の老舗菓子舗。見た目も風味も珍しい百合羊羹は四代目から引き継いできた味です。",
    "score": {
      "nature": 0,
      "culture": 40,
      "activity": 50,
      "gourmet": 100,
      "rich": 70,
      "shopping": 100
    },
    "stay" : 10,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄7425",
    "tel":"0954-23-2001",
    "attention":""
  },
  {
    "tag":"グルメ",
    "name": "武雄温泉駅カフェ「カイロ堂」",
    "lat": 33.196440942686316,
    "lng": 130.02261406028197,
    "description": "武雄温泉駅内にあるカイロ堂で販売されている武雄市自慢の駅弁。A5等級の佐賀牛の旨味は必見です。店内ではお食事もできます。",
    "score": {
      "nature": 0,
      "culture": 0,
      "activity": 70,
      "gourmet": 100,
      "rich": 80,
      "shopping": 50
    },
    "stay" : 80,
    "img": "temp.jpg",
    "address":"武雄市武雄町大字武雄7425",
    "tel":"0954-23-2001",
    "attention":""
  }
]
